table {
    border-collapse: collapse;
    border-style: dashed;
    background-image: url("planet.png");
    background-repeat: no-repeat;
    background-position: right top;
    border-color: #000000;
    border-width: 1px;
    height: 500px;
    width: 900px;
    caption-side: bottom;
    table-layout: fixed;
}

th {
    background-color: RGBA(211, 243, 254, 0.7);
}

th,
td {
    border-style: dashed;
    border-width: 1px;
    border-color: black;
    text-align: center;
}

caption {
    color: red;
    padding-top: 20px;
}

input {
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

input:hover {
    color: white;
    background-color: red;
}